@import './styles/variables.scss';
@import './styles/breakpoints.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family-regular);
}

.app {    
	position: relative;
    height: 100vh;
	background-color: lightblue;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	max-width: 1400px;
	.tabs {
		width: 30%;
		.tab {
			cursor: pointer;
			&.active {
				font-weight: bold;
				font-size: 20px;
			}
			&:hover {
				font-weight: bold;
				color: blue;
			}
		}
	}
	.form {
		width: 70%;
		.btn_actions {
			position: absolute;
			bottom: 0;
			button {
				cursor: pointer;
				background-color: lightblue;
				&:hover {
					background-color: blue;
				}
			}
		}
		
	}
	
	
} 

@include tablet {
	.app {
		flex-direction: row;
		background-color: lightgoldenrodyellow;
		.form {
			.btn_actions {
				position: relative;
				button {
					background-color: lightcoral;
					&:hover {
						background-color: red;
					}
				}
			}
		}
	}
}

@include desktop {
	.app {
		align-items: center;
		justify-content: center;
		background-color: lightcoral;
	}
}